.editor-container {
    width: 80vw;
    height: 90vh;
    margin: 10px;
    border: 1px solid #333;
    /* Darker border for dark theme */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.editor-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar {
    height: 90vh;
    width: 15vw;
    border-radius: 8px;
    background-color: black;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.upper-side-bar {
    width: 100%;
    text-align: center;
    max-height: 70%;
}

.side-bar-head {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
}

.editor-buttons {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.editor-buttons button {
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    width: 85%;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    z-index: 1;
    letter-spacing: 0.5px;
}

.copy-id-but {
    background: linear-gradient(135deg, #b060f7 0%, #fefefe 100%);
    color: black;
}

.leave-but {
    background: linear-gradient(135deg, #e65959 0%, #680000 100%);
    color: white;
}

.ppl {
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: none !important;
}

::-webkit-scrollbar {
    display: none !important;
}

@media (max-width: 1000px) {
    .side-bar {
        width: 25vw;
    }

    .editor-container {
        width: 70vw;
    }
}

@media (max-width: 768px) {
    .editor-page {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .side-bar {
        width: 100%;
        height: auto;
        flex-direction: row;
        margin-bottom: 20px;
        padding: 10px;
        flex-wrap: wrap;
    }

    .upper-side-bar {
        width: 60%;
        max-height: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ppl {
        max-height: 150px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .editor-buttons {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }

    .editor-buttons button {
        width: 100%;
        margin-top: 5px;
        padding: 10px;
    }

    .editor-container {
        width: 100%;
        height: 80vh;
        margin: 0;
    }
}

@media (max-width: 480px) {
    .mobile-warning {
        display: flex !important;
    }

    .app-content {
        display: none !important;
    }
}