.editor-container {
    width: 90vw;
    height: 90vh;
    margin: 10px;
    border: 1px solid #333;
    /* Darker border for dark theme */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.editor-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}