.person-box {
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-self: left;
    align-items: center;
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}

.username {
    margin-left: 10px;
}