# This is github actions CI CD workflow file that setups the pipeline

name: Codium CI CD

on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'

jobs:
  build:
    runs-on: self-hosted

    defaults:
      run:
        working-directory: backend

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'
        cache-dependency-path: backend/package-lock.json

    - name: Install Dependencies
      run: npm ci

    - name: Run Tests
      run: npm test

    # deployment
    - name: stop the current container
      run: sudo docker stop codium-server || true

    - name: delete the old container
      run: sudo docker rm codium-server || true

    - name: delete the old image
      run: sudo docker rmi -f codium-server || true

    - name: build the new image
      run: sudo docker build -t codium-server .

    - name: start the container with naming and port maping
      run: sudo docker run --name codium-server -d -p 8080:8080 codium-server
